bin
*.tar
nri-vmwarev*
nri-vmware_v*
*.old
nri-vmware
coverage*
.DS_Store
examples_*
CHANGELOG_*
*.serverless
LATEST
.vendor-new*
.idea
dist
.vscode

_obj
pkg/windows/*/obj/
pkg/windows/*/bin/

versioninfo.json
*.exe
*.test
*.prof
*.syso
*.wxs
target/