integrations:
  - name: com.newrelic.vsphere
    exec:
      - /var/db/newrelic-infra/newrelic-integrations/bin/nri-vsphere
      # vSphere API connection data (Vcenter or ESXi servers)
      - --url
      - https://192.168.0.210/sdk
      - --user
      - administrator@vsphere.local
      - --pass
      - Example!

      # Events info is collected when this flag is present
      - --enable_vsphere_events

      # Tags are collected when this flag is present
      - --enable_vsphere_tags

      # Snapshots info is collected when this flag is present
      # - --enable_vsphere_snapshots

      # Performance metrics is collected when this flag is present. Activate this feature could overload vCenter
      # depending on the environment size. 
      # - --enable_vsphere_perf_metrics
      # Performance metric collection level [1-4]. Be careful when you set a higher collection level, as the process requires 
      # significant increase of resource usage on vCenter. Level 3 and 4 should only be used for a short period of time.
      # For a more granular selection check on vsphere-performance.metrics file.
      # - --perf_level
      # - 1
      # Path to the performance metrics config file. This file contains the performance counters that are going to be
      # collected if they are available by vCenter.
      # - --perf_metric_file
      # - /etc/newrelic-infra/integrations.d/vsphere-performance.metrics

      # - --validate_ssl # if you require SSL validation enable
      # Datacenter location label can be added to all entities in this vSphere platform
      # - --datacenter_location
      # - Wolli Creek
    env:
      # Proxy configuration can be set up. More information in:
      # https://docs.newrelic.com/docs/integrations/integrations-sdk/file-specifications/integration-configuration-file-specifications-agent-v180
      # HTTP_PROXY: socks5://10.0.2.2:8080
      # HTTPS_PROXY: socks5://10.0.2.2:8080
    # Interval execution should be more than 20s since real-time vSphere samples are performed every 20s
    interval: 60s
