integrations:
  - name: com.newrelic.vsphere
    exec:
      # Uncomment the path for either Linux or Windows
      #- /var/db/newrelic-infra/newrelic-integrations/bin/nri-vsphere
      #- C:\Program Files\New Relic\newrelic-infra\newrelic-integrations\bin\nri-vsphere.exe
      #
      # vSphere API connection data (vCenter or ESXi servers)
      - --url
      - https://<var>YOUR_VSPHERE_API_URL</var>/sdk
      - --user
      - <var>YOUR_VSPHERE_USER</var>
      - --pass
      - <var>ADMIN_PASSWORD</var>

      # Collect events data
      - --enable_vsphere_events

      # Collect vSphere tags
      - --enable_vsphere_tags

      # Collect snapshots's data
      # - --enable_vsphere_snapshots

      # Collect performance metrics. Enabling this feature could overload 
      # vCenter depending on size of your environment. 
      # - --enable_vsphere_perf_metrics

      # Performance metric collection level [1-4]. Be mindful when setting a
      # higher collection level, as this process triggers significant increase
      # of resource usage on vCenter. Levels 3 and 4 should only be used for a 
      # short period of time. For a more granular selection check the 
      # vsphere-performance.metrics file.
      # - --perf_level
      # - 1

      # Path to the performance metrics config file. This file contains the
      # performance counters that are going to be collected if available.
      # Uncomment either the Linux or Windows path.
      # - --perf_metric_file
      # - /etc/newrelic-infra/integrations.d/vsphere-performance.metrics
      # - C:\Program Files\New Relic\newrelic-infra\integrations.d\vsphere-performance.metrics

      # - --validate_ssl # Enable if you require SSL validation

      # Datacenter location label can be added to all entities in vSphere.
      # - --datacenter_location
      # - <var>YOUR_VSPHERE_LOCATION_LABEL</var>
    env:
      # Proxy configuration can be set up. For more information, <a href="/docs/integrations/integrations-sdk/file-specifications/integration-configuration-file-specifications-agent-v180">see the docs</a>.
      # Uncomment the lines below to add a proxy.
      # HTTP_PROXY: socks5://<var>YOUR_PROXY_URL:PROXY_PORT</var> 
      # HTTPS_PROXY: socks5://<var>YOUR_PROXY_URL:PROXY_PORT</var>
    # Execution interval. Set a value higher than 20s, as real-time vSphere
    # samples are run every 20s.
    interval: 60s
